{% extends "layout.html" %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>Real Estate</h1>
        <img src="/static/pic1.jpg" class="d-block w-100" alt="...">
        <h1>
            <p>Putting a plan to action, to assure your satisfaction!</p>
        </h1>
        <h3><p>It’s Time – do you know where your next home is going to be?</p></h3>

        <p>A house is made of bricks and beams. A home is made of hopes and dreams. We’ll help you find your home.Selling made easy. </p>
        
        <div>  
        <img width="100%" src= "{{ url_for('static', filename='pic8.JPG') }}"  />
        </div>
        <div >  
        <h1>
            <p >Put us to the test, we are better than the rest.!</p>
        </h1>
        </div>
        <p>The shortest distance between paradise and the place you call home. Everyone Deserves the Opportunity of Home.Teamwork from the team that works!</p>
        <p>We want to provide you <b> best price , latest design and best area.</b>Making realty dreams a reality.Committed To Getting The Colorful places to live and play.Finding The Dream For Every Owner.</p>

<!--TODO-->
      
        <h1>
        <p>Contact Us</p>
        </h1>
        <h5>
        </h5>
        <h4><b>Email ID- abc2gamil.com</b></h4>
        <h4><b>Phone no-2422525, 252522</b></h4>


        <!-- <h1>
            <p>The Founders</p>
        </h1> -->
    </div>
</div>



{% endblock content %}